/* Import font-family */
/* AllianzNeof */
@import '@/assets/fonts/AllianzNeo/stylesheet.css';

/* NeueFrutigerThaiModern */
@import '@/assets/fonts/NeueFrutigerThaiModern/stylesheet.css';

/* Base tailwind css config */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: 'NeueFrutigerThaiModern-Rg', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #70605e;
    background-color: #f4f3f4;
}

/* sm breakpoint */
@media screen and (min-width: 640px) {
    /* todo */
}

/* md breakpoint */
@media screen and (min-width: 768px) {
    /* todo */
}